<ion-header>
  <ion-toolbar>
    <ion-title>
      My Family
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <h2>My wonderful and sweet wife Melinda.  We have been married for a while, but evertime I look
    at her it feels like we just met.</h2>
        <br>
  <ion-img src="/assets/Wife.jpg"></ion-img><br><br><br>
  <h2>Our two boys Trent and Logan.  They are both full time students and partime workers.  
  </h2>
      <br>
  <ion-img src="/assets/Boys.jpg"></ion-img><br><br><br>
  <h2>Our Daughter Rylie.  She is full time student and part time maid.</h2>
      <br>
  <ion-img src="/assets/Daughter.jpg"></ion-img>
</ion-content>
