<ion-header>
  <ion-toolbar>
    <ion-title>
      About Me
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card class="welcome-card">
      <ion-img src="/assets/Header.jpg"></ion-img>
      <ion-card-header>
        <ion-card-subtitle>My Second Application</ion-card-subtitle>
        <ion-card-title>A little about me and my family.</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p>
          Thanks for stopping and checking out my Application.  Take a few minutes and I'll introduce you to my family.
        </p>
      </ion-card-content>
    </ion-card>
    <h2>This is me.  I am a full time husband, father, and worker.  
      Part time student.  
      Struggling to keep it up until retirement.</h2>
      <br>
      <ion-img src="/assets/Me.jpg"></ion-img>
</ion-content>
