<ion-header>
  <ion-toolbar>
    <ion-title>
      My Animals
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <h2>This was our oldest puppy Chowder.  He recently past away, but will always be our puppy.</h2>
            <br>
  <ion-img src="/assets/Chowder.jpg"></ion-img><br><br><br>
  <h2>Our most recent doggy.  This is Mocha.  She is a little princess that dislikes the cold.</h2>
          <br>
  <ion-img src="/assets/Mocha.jpg"></ion-img><br><br><br>
  <h2>I can't leave out Pup.  He was our frist animal together.  </h2>
          <br>
  <ion-img src="/assets/Pup.jpg"></ion-img><br><br><br>
  <h2>Sandwich is the Grandpa of the group.  He has been with us for years.</h2>
  <br>
<ion-img src="/assets/Sandwich.jpg"></ion-img><br><br><br>
  <h2>Muffin is a pain.  This is him disregarding me scolding him.</h2>
          <br>
  <ion-img src="/assets/Muffin.jpg"></ion-img>

</ion-content>
